[2017-07-11 18:23] grahamlopez opened #2 "Remove QMCPACK history"
I suggest that we remove the QMCPACK history from this repository. Currently, cloning this miniapp repo results in pulling down 137M of data, ~135M of which are contained in the .git directory. This seems a bit cumbursome for the miniapp.

[2017-07-11 19:30] #2 closed, assigned to nobody

[2017-07-12 18:16] grahamlopez opened #8 "Convert build system CMake -> make"

[2017-07-12 18:18] grahamlopez opened #9 "Remove MPI"
We can remove all MPI except for possibly an Init()/Finalize() (for tools interfacing), and not requiring MPI at all for building.

[2017-07-13 03:48] ye-luo opened #10 "Remove unused flags in config.h.cmake.in"
Keep the minimal list.

[2017-07-13 03:50] ye-luo opened #11 "Clean up einspline"
1) Add a naive implementation to check against spline2 version. C++ template function.
2) Remove all evaluation routines
3) Unused creation routines.

[2017-07-13 03:54] ye-luo opened #12 "Clean up old CUDA code"
There are still CUDA code to be removed.
Under QMC_CUDA macro.

[2017-07-13 04:15] ye-luo opened #13 "Replace boost RNG with C++11"
C++11 has RNG in the std library.
Performance is need to be investigated.

[2017-07-13 04:23] ye-luo opened #14 "Add NiO setup"
Similar to graphite.hpp.
Take the parameters from NiO S8 performance test.
Also make it default and graphite optional via command line.

[2017-07-17 19:48] mdewing opened #15 "Add Doxygen for documentation"
Add top level doxygen file and outline

[2017-07-17 19:49] grahamlopez opened #16 "non-code documentation of kernels"

[2017-07-17 20:02] ye-luo opened #17 "Add timer in J2"

[2017-07-17 20:04] ye-luo opened #18 "Add macro to switch off checking code"

[2017-07-19 22:20] #13 closed, assigned to mdewing

[2017-07-21 00:29] prckent opened #29 "Components of wavefunctions are not orbitals: OrbitalBase to be renamed"
This is a problem inherited from QMCPACK that I would like to see fixed: The components of wavefunctions need to be called something logical such as WavefunctionComponent. Perhaps ManyBodyWavefunctionComponent to be even clearer. Other, better suggestions are welcome. The use of the term Orbital is *incredibly confusing* since no one else in QMC, electronic structure, or quantum chemistry calls th

[2017-07-22 00:10] #11 closed, assigned to ye-luo

[2017-07-24 15:35] crtrott opened #33 "Compilation Error: spline2/MultiBsplineData.cpp std::min/max/modf not found"
Getting this error after doing in /build :
[code]

[code]

This is with GCC 5.3.0. Adding the following before any of the other includes in MultiBsplineData.cpp  fixes this:
[code]

Adding these includes after the other ones does not fix it. This probably means that "math.h" gets included somewhere. I couldn't find it explicitly, but there might be an indirect inclusion. Including "math.h" sometim

[2017-07-24 15:56] #33 closed, assigned to nobody

[2017-07-24 16:01] grahamlopez opened #34 "integrate InverseUpdate kernel"
I am hoping to port my previously extracted InverseUpdate reference kernel from QMCPACK

[2017-07-26 19:43] #17 closed, assigned to mdewing

[2017-07-27 20:02] #12 closed, assigned to grahamlopez

[2017-07-28 13:43] #18 closed, assigned to ye-luo

[2017-08-02 23:37] ye-luo opened #46 "Need a header in standard output"
Need a simple header for minqmc. Printing miniQMC and version info.

[2017-08-04 15:58] prckent opened #48 "Use test coverage to prune source code"
Based on the test coverage reports, prune back unused functionality in the current miniapp source. e.g. There must be lots of functionality in the numeric parts that is not used.

[2017-08-10 17:34] #29 closed, assigned to mdewing

[2017-08-10 17:35] #14 closed, assigned to grahamlopez

[2017-08-16 02:37] grahamlopez opened #54 "proposal to remove legacy openmp"
By my tests, miniqmc is not being helped by the OpenMP that is currently present. In my tests I get:

OMP_NUM_THREADS=1 ./bin/miniqmc  42.53s user 0.04s system 99% cpu 42.574 total
OMP_NUM_THREADS=2 ./bin/miniqmc  188.44s user 0.13s system 188% cpu 1:39.94 total

The OpenMP implementation is being redone in a more thorough way as part of our performance portability effort. Additionally, removing t

[2017-08-16 15:26] grahamlopez opened #55 "hookup qmcpack_version.h functionality"
change `qmcpack_version.h` to `miniqmc_version.h` and enable git hash in miniapp output

[2017-09-12 14:07] #9 closed, assigned to nobody

[2017-09-12 15:05] prckent opened #61 "Make repo public"

[2017-09-13 13:30] #54 closed, assigned to nobody

[2017-09-29 19:30] prckent opened #64 "Expand size range of simulated NiO systems"
Include sizes up to full 1024 atom suprecell.

[2017-10-23 19:07] prckent commented on #61
The repo is public and this issue can be closed.

[2017-10-23 19:07] #61 closed

[2017-10-26 14:56] grahamlopez commented on #55
closed by #62

[2017-10-26 14:56] #55 closed

[2017-11-28 16:27] acangi opened #69 "Implement "v2" algorithm spline kernel within the kokkos implementation"
Implement "v2" algorithm spline kernel within the Kokkos implementation (see Milestone 1.7, 3.3.2): synchronous walker move + loop interchange in spline computation

[2017-12-07 18:53] grahamlopez commented on #48
It looks like our *.hpp, *.h, and *.cpp files total up to ~26K LOC. We have gotten intimations from the ECP miniapss project that they are typically seeing miniapps in the ~10K LOC range. While this isn't a hard requirement (yet), it would be good to give a little more attention to this.

More coverage-based pruning can still be done, but it is a bit time-consuming. If others (esp. @ye-luo, @markd

[2017-12-07 19:28] ye-luo commented on #48
Does your LOC survey tool report the numbers each node of the whole three?

[2017-12-07 19:45] grahamlopez commented on #48
Here's what I've got:
[code]

[2017-12-07 19:55] ye-luo commented on #48
I see. The `./Numerics/OhmmsPETE` is fat but no surprise.

[2017-12-07 20:24] bjpalmer opened #70 "GA in QMCPACK"
Hi,

I'm interested in trying to integrate Global Arrays (GA) into portions of QMCPACK. From what I know of QMCPACK, the Einspline routines seem to be a good place to start. Specifically, I would like to try and use GA to replace large replicated arrays with either distributed or partially distributed arrays. Are there any arrays in the Einspline routines that I could target?

[2017-12-08 04:27] naromero77 commented on #70
Hi bjpalmer,

Thanks for reaching out to us. We normally use GitHub Issues for reporting bugs and requesting features.

It sounds like you are interesting in a collaboration. I am adding the project PI so he is aware. @prckent

I recommend continuing the discussion on the QMCPACK google group.
http://qmcpack.org/google-groups/

[2017-12-08 14:12] prckent commented on #70
I asked @bjpalmer to post here (thanks). I hope someone familiar with the spline in the miniapp can provide the necessary pointers. Perhaps some documentation can be written describing this part? The documentation will have to be written shortly regardless.

[2017-12-08 15:19] grahamlopez commented on #70
I think it is fine to have the discussion here.

@bjpalmer somebody will get back to you here with some details. We're currently marshaling resources for various things, but I've added this issue to my current agenda.

[2017-12-08 17:41] ye-luo commented on #70
@bjpalmer Here are a few readings.
This is the first attempt of GA on QMCPACK, the work was done a few years back and some info may be out of date.
DOI: [10.1002/cpe.3748](http://onlinelibrary.wiley.com/doi/10.1002/cpe.3748/abstract)
This is the most recent paper about splines handling and it is what we have in the miniQMC.
DOI: [10.1109/IPDPS.2017.33](http://ieeexplore.ieee.org/document/7967111/)

[2017-12-08 17:57] markdewing commented on #70
A really short intro to the miniqmc code:
The object to target is einspline_spo.   In miniqmc.cpp, it is set up in spo_main.set(), and evaluated with calls to spo.evaluate_vgh (value, gradient, and Hessian) and spo.evaluate_v (just the value).

The large array is found in structures defined in Numerics/Einspline/multi_bspline_structs.h, in the 'coefs' member.  The relevant structures are multi_UBs

[2017-12-12 13:54] grahamlopez commented on #16
During a phone conversation with Ye, he suggested that I propose questions I have about miniQMC from a non-qmc practitioner's point of view. I will be posting those here, and interested/involved experts can contribute answers to be used for miniQMC documentation.

To start, a general overview has been started [on the wiki](https://github.com/QMCPACK/miniqmc/wiki), and this could always be expanded

[2017-12-12 13:55] grahamlopez commented on #48
Yes, it looks like this is at least the best place to start.

@ye-luo If you want to suggest other places based on your GPU-porting experience, feel free.

[2017-12-18 18:28] #15 closed, assigned to mdewing

[2017-12-20 23:19] grahamlopez commented on #34
addressed by #73

[2017-12-20 23:19] #34 closed

[2017-12-21 21:26] grahamlopez commented on #48
How many kinds of problems/inputs do we care about supporting in the miniapp?

[2017-12-21 21:39] grahamlopez commented on #48
is there any reason to keep the AoS codepath in the miniapp?

[2017-12-21 21:43] grahamlopez commented on #48
As far as I can tell, we're not supporting AoS anymore, but it still shows up in some places.

[2017-12-21 21:56] ye-luo commented on #48
I thought AoS has all been removed.

[2017-12-21 22:09] prckent commented on #48
How many kinds of problems? The range of NiO used for the performance tests in mainline QMCPACK are plenty in my opinion. Graphite is a nice bonus for historical continuity and due to the large amount of data run on it. Potentially we could do with some *smaller* NiO so that we can test performance on small electron count problems. These are not exascale problems but we do wish to expose if and ho

[2017-12-21 22:10] grahamlopez commented on #48
So then we could get rid of stuff like e.g. non-periodic boundary conditions?

[2017-12-22 00:21] prckent commented on #48
They aren't on the critical path for our problems, but it would be useful if the miniapp could also be used for molecular work. This requires non-periodic boundary conditions. However, if the savings would be considerable (lines and files removed) we should consider removing them and discuss further.

[2017-12-22 02:30] grahamlopez commented on #48
Okay. I'm not sure really how much savings it would be. I noticed a few hundred lines' worth earlier. I don't know if we have complete support for non-periodic boundary conditions as it is, but I'll leave what is there currently.

[2018-01-08 18:51] grahamlopez commented on #48
PR #77 pretty much addresses what is useful to do through coverage testing as it stands right now. More sophisticated methods might be possible in the future, but these will require a separate effort. Closing.

[2018-01-08 18:51] #48 closed

[2018-01-09 23:12] ye-luo commented on #64
Added in [wiki](https://github.com/QMCPACK/miniqmc/wiki/How-to-build-and-run-miniQMC)

[2018-01-09 23:12] #64 closed

[2018-02-16 20:17] ye-luo opened #95 "Add meshfactor command line option"
Allows to adjust spline mesh grid size.

[2018-02-16 20:18] ye-luo opened #96 "Add a basic MPI"
1. Only need minimal init/finalize in the source code.
2. Recover MPI handling in CMake.
3. May need basic reduction for aggregating time or other metric.
4. print rank info

[2018-02-16 20:20] grahamlopez commented on #8
Clearly unneeded/undesired now

[2018-02-16 20:20] #8 closed

[2018-02-16 20:22] ye-luo opened #97 "Add a walker loop in drivers"
Having a walker loop decoupled from threads is still very useful.
Need to cover all the drivers.

[2018-03-14 22:34] ye-luo commented on #96
#102 completes1,2,4 and partly 3 on integers.

[2018-04-09 03:32] ye-luo opened #108 "Port the improved MKL detection from QMCPACK"

[2018-05-03 14:30] grahamlopez commented on #46
also, pointers to the wiki and any other relevant info (e.g. see discussion at #115)

[2018-06-06 17:11] PDoakORNL opened #124 "IBM XL 16.1 not supported by cmake 3.11"
When this is resolved remove manually set
-std=c++11
flag from [/CMake/IBMCompilers.cmake](https://github.com/QMCPACK/miniqmc/blob/develop/CMake/IBMCompilers.cmake)

[2018-07-02 16:38] ye-luo opened #129 "Re-enable hierachy timer"
Currently all the timers are placed in miniQMC.
Better to move to WaveFunction and ParticleSet.

[2018-07-03 22:28] #129 closed, assigned to mdewing

[2018-07-06 01:56] rcclay opened #132 "Change Type of SplineDerivs in Jastrow/BsplineFunctor.h"
SplineDerivs in Jatrow/BsplineFunctor.h has std::vector<TinyVector<real_type, 3>> type.  Unless there is a compelling reason to keep it in this type, I suggest changing this to a pointer to an array, which is how all the other values, gradients, and laplacians are treated in this part of the code code.

[2018-07-06 02:25] ye-luo commented on #132
I think there is no need to use pointers. If you access data() and cast it to real_type *, you will get contiguous 3N real_type data.

[2018-07-06 13:54] lshulen commented on #132
Ye, our broader strategy is to try to abstract the data types as much as possible so that the kokkos branch can involve more minimal changes.  The std::vector<TinyVector<real_type, 3>> requires a slightly awkward syntax that the pointer to an array gets around.  What is gained by keeping the previous data type?

[2018-07-06 14:07] ye-luo commented on #132
Directly using pointers is generally going backward. I'm not saying we can't change datatype. Indeed, we need to customize our own vector class with Kokkos, OpenMP enabled transparently. In the QMCPACK, we do use Vector class instead std::vector for the data with explict control needs.

[2018-07-06 14:39] rcclay commented on #132
@ye-luo Sorry for my phrasing.  I agree that bare pointers are definitely not the best solution here.  The main advantage to using them here though is that it makes it consistent with the rest of the function calls in this object.

[2018-07-06 15:24] ye-luo commented on #132
Since this is used only by evaluateDerivative which is needed for optimization. How about just remove all those related to WF optimization?

[2018-07-06 15:57] prckent commented on #132
Good to reduce the amount of unnecessary code in the miniapp...

[2018-07-07 01:03] #132 closed, assigned to nobody

[2018-07-13 16:16] mdewing opened #146 "Separate the reference implemenation of einspline_spo as einspline_spo_ref"
Some ideas on refactoring the miniapp.
 It looks like the Kokkos branch needs a reference version of einspline_spo.hpp.
 It also may be useful for other code explorations, if the new version of the spline code doesn't fit into the exact model that einspline_spo.hpp uses.
Should we make this change in the main branch of the miniapp?

[2018-07-13 16:20] mdewing opened #147 "Remove loop over blocks of splines?"
The evaluation of splines is nested - one loop over blocks of splines, and an inner loop over the splines in that block.  I think this was done to experiment with distributing the spline evaluation across (shared memory) processors.
This feels like an implementation detail that should not be in the base miniapp.  For the base miniapp, there should be a single loop over splines.
A better way to do

[2018-07-13 16:26] mdewing opened #148 "Put spline grid and coefficient information into MultiBspline"
It feels like there are too many layers to the spline code (especially the allocation).  I think this is a result of the impedance mismatch between C and C++, and gradually moving the code from its original C to C++.   It would be nice to move splines to a full C++ class.

Current the MultiBspline class takes the spline data struct as argument to the various functions. (Using it as a C-style objec

[2018-07-13 16:46] ye-luo commented on #147
This is the advantage of miniQMC over QMCPACK. There are many use of this feature for exploration.

[2018-07-13 17:00] mdewing commented on #147
So the nested evaluation of splines is general enough to keep in the base miniapp?

[2018-07-13 20:34] ye-luo commented on #148
There are three layers: SPO(C++), Spline evaluation(C++) and data(C).
the number of SPO and the number of splines can be different depending on symmetry. So SPO (physics) calls the spline evaluation(math) and applies the phase and symmetry. So these two layers can not be merged.
The splitting of the spline evaluation and data is on purpose because the data is shared via pointer among threads. SPO

[2018-07-13 20:40] ye-luo commented on #147
I think this is general. In fact, thinking about splitting the walkers, this feature provide another layer of parallelism. The QMCPACK CUDA code has some similar feature although only the computing not the memory is chunked.

[2018-07-13 20:42] lshulen commented on #147
Regarding the loop over blocks, one nice thing about it is that it helps with cache pressure as described in the IPDPS paper (or maybe SC).  It turns out to be a good feature even if you are not letting different processing elements handle different blocks.

Arguing for the simple loop is that it will be easier for others to understand.  The benefit of the loop over blocks is that it is well studi

[2018-07-13 20:46] lshulen commented on #148
Ray has some notes in https://github.com/rcclay/miniqmc/wiki .  The C style structs do cause a problem for kokkos (although one that can be solved very easily).  I would be in favor of updating them, and in principle think it makes sense to have them inside MultiBspline, but Ye's point that separating data and evaluation makes physical sense is also important.

[2018-07-13 21:19] ye-luo commented on #146
I'm happy that you exposed all the problems and I got a chance to think it more carefully.
I think we can have einspline_spo_ref. But before making the change, I'd like to solve the design problem of einspline_spo and then see if we still need to make a ref.

[2018-07-16 05:12] ye-luo commented on #146
I'm thinking of adding back SPOSet base class.

[2018-07-17 03:39] rcclay commented on #146
There’s clearly been some exploration into parallelization at the einspline_spo level, at least based on the #pragma openmp flags in various evaluate_X functions.  Given that parallelization is happening at this level, it makes sense that einspline_spo should be subject to changes based on parallelization strategy, hence why an einspline_spo_ref is needed.

[2018-07-17 15:42] mdewing opened #152 "Better testing of miniqmc"
This was brought up in the miniqmc meeting, and I'm putting it here to organize further discussion.

Currently, testing for correctness is done by comparing against a reference implementation for the SPO's, Jastrow factors, and determinant update.

Missing are checks that the higher level algorithms in miniqmc are correct.
One possible solution is to run a step or two with a rigged RNG and check t

[2018-07-17 16:15] rcclay commented on #152
For me personally, I would much rather have decent unit tests than simple kernel drivers for debugging purposes.  Simple drivers are nice too, and would definitely complement the existing checks...  but I feel like decent unit tests would have made implementation of something like GPU offload a bit more straightforward.

[2018-07-17 17:37] mdewing commented on #152
For an example of simple kernel driver, this is the SPO driver I wrote to help with debugging the GA implementation
https://github.com/markdewing/miniqmc-1/blob/kernel_drivers/src/Drivers/spo_driver.cpp

[2018-07-17 17:42] ye-luo commented on #152
I think tests at SPO level and WavefunctionComponent level is good so we only need to maintain one no matter the underlying implementation changes. The test code body can added directly in the check_XXX.

[2018-07-17 18:52] #97 closed

[2018-07-19 19:00] mdewing commented on #152
As an example for unit testing, this branch (unit_test) adds Catch2 as a unit test framework and one test (src/Particle/test/test_bcond.cpp)

It builds a single unit test executable, bin/unit_test.

https://github.com/markdewing/miniqmc-1/tree/unit_test/

[2018-07-20 15:13] ye-luo opened #156 "Rename WaveFunctionComponentBase to WaveFunctionComponent?"
I feel Base in WaveFunctionComponentBase is not necessary.
WaveFunctionComponent is obviously a base class and there is no confusion.

I'm trying to make names short.

[2018-07-20 15:35] PDoakORNL commented on #156
I think in general this is a good sort of refactor. Filenames should be updated in tandem.

[2018-07-20 17:11] mdewing commented on #156
I agree that the Base is not necessary in this case.

[2018-07-20 18:52] prckent commented on #156
Agreed

[2018-07-20 18:52] prckent commented on #156
We also need to do this in QMCPACK...

[2018-07-20 20:30] #146 closed, assigned to ye-luo

[2018-07-21 03:25] #156 closed, assigned to ye-luo

[2018-07-23 00:37] ye-luo commented on #124
Resolved #126

[2018-07-23 00:37] #124 closed, assigned to nobody

[2018-07-26 14:13] naromero77 opened #161 "kokkos branch will not build on mac laptop"
This is an issue w.r.t. building the kokkos miniqmc branch on a mac laptop.

MacOS X Sierra
Homebrew GCC 7.2.0

[code]

Here is the output:
[code]

[2018-07-26 16:04] naromero77 commented on #161
@rcclay Its compiling now. I applied this patch as you indicated.
https://github.com/kokkos/kokkos/pull/1701/files

There is nothing here for the QMCPACP ECP project to fix... I can document this on the wiki later this week.

[2018-07-26 18:29] naromero77 opened #163 "kokkos branch will not compile with a pre-installed kokkos library"
It should be possible to do something like:
`cmake -DKOKKOS_INCLUDES=<foo> -DKOKKOS_LIBRARIES=<bar> ...`

or

alternatively
`cmake -DKOKKOS_INSTALL_PATH=<foobar> ...`

And the kokkos branch of miniqmc will build with a pre-installed kokkos library.

I hacked in @rcclay suggestion from the miniqmc slack channel, but this causes another error: Kokkos then complains about a lack of an OpenMP flag. If

[2018-07-27 15:22] naromero77 opened #165 "kokkos branch - compile time error in einspline_spo"
Occurs in multiple environments:
1. Environment: Ubuntu Linux, GCC 5.4.0
2. Environment: Mac OS X, GCC 7.2.0 (HomeBrew)
Kokkos Version: master branch with OpenMP backend

Build script for Ubuntu, the one for Mac OS X is similar:
[code]

Here is the error produced on Ubuntu:
[code]

while here is the error produced on Mac OS X:
[code]
The solution on both systems seems to be to just comment out tho

[2018-07-27 17:55] naromero77 commented on #165
This is an issue with the single vs. double precision views. Only double exists at the moment in einspline_allocator.hpp.

[2018-07-27 17:55] #165 closed, assigned to nobody

[2018-07-27 17:56] naromero77 commented on #161
Added documentation on the wiki.

[2018-07-27 17:56] #161 closed, assigned to nobody

[2018-07-31 17:30] ye-luo opened #168 "Reduce default steps?"
The currently default is 100 which is not OK for most medium to large runs.
We anyway provide `-n` option to adjust the number of steps.
I'm considering to reduce the default to 5 or 10.

[2018-07-31 17:39] mdewing commented on #168
I agree.  I usually use the -n option because the default takes too long.

[2018-07-31 18:59] jtkrogel commented on #168
Sounds reasonable.

[2018-07-31 23:09] jeacook opened #169 "miniqmc input that's representative of QMCPack"
I'm trying to quantitatively show (hardware level) that miniqmc is actually representative of QMCPack.  We're using the CORAL2 NiO input, but not sure how to configure miniqmc to match that. Is this possible, and if so, which -g size really matches  the CORAL2 NiO input?

[2018-07-31 23:18] ye-luo commented on #169
Based on the [size chart](https://github.com/QMCPACK/miniqmc/wiki/How-to-build-and-run-miniQMC#run-executables)
-g "2 2 2" corresponds to the CORAL2 size.

[2018-07-31 23:27] ye-luo commented on #169
miniQMC captures the most computationally intensive pieces of QMCPACK but per piece percentage may differ significantly.

[2018-08-01 02:47] #168 closed, assigned to ye-luo

[2018-08-01 03:17] ye-luo opened #172 "Clean up C++11 guards"
All the `__cplusplus >= 201103L` needs to be cleaned up.

[2018-08-01 05:11] #10 closed

[2018-09-13 20:38] ye-luo opened #187 "check_determinant sensitive to error"
I tried to make the check more robust but it is very hard.
When mixed precision is turned on the matrices diverge after 10 electron moves.
The develop branch can pass easily because the algorithm is identical to the reference.

[2018-09-25 20:58] mdewing commented on #169
There has been some information about miniQMC-QMCPACK performance added on the wiki page https://github.com/QMCPACK/miniqmc/wiki/Comparing-performance-with-QMCPACK

[2018-09-27 01:29] prckent commented on #169
Besides the system size, setting the acceptance ratio is critical: to emulate DMC a ratio around 0.999 is needed. DMC nearly always accepts a move. Miniqmc's default currently emulates a typical VMC run.

[2018-10-23 16:40] rcclay opened #192 "Kokkos: Need CI Testing."
Need to get CI testing working with Kokkos.  Currently, checks are done by hand.

[2018-10-23 16:43] rcclay opened #193 "Kokkos: Mock Construction/Population of Determinant"
It has been pointed out that the data movement from SPO evaluation to population of the determinant is not representative of how our code works.  Ensure that SPOSet and Determinant live in the same device spaces at least.

[2018-10-23 16:44] rcclay opened #194 "Kokkos: Batched Walker Moves"
Look at and experiment with new data structures/layouts that would facilitate batched walker moves within the Kokkos framework.

[2018-10-23 16:46] rcclay opened #195 "Kokkos: Employ Kokkos::Kernels Wherever Possible"
For MS2.8, most of the linear-algebra intensive work was handled by a hand-coded abstraction layer, with specific calls to vendor specific libraries at the lowest level.  Need to explore how far Kokkos::Kernels can eliminate a lot of this, and compare performance with the current implementation.

[2018-11-09 02:38] PDoakORNL opened #199 "Kokkos: Clang7/CUDA 9.2 has issues with function declarations and defnitions involving KOKKOS_INLINE_FUNCTION"
I am not using the nvcc wrapper I am just using clang to build.
I get a couple of errors like this
[code]

Clang actually cares about __host__ and __device__ (nvcc I think does "magic" here)
[code]
changing the inline to KOKKOS_INLINE_FUNCTION clears that error and takes you to
more issues relating to haphazard treatment of __host__ and __device__
[code]
I could not resolve this one.

[2018-11-09 04:16] crtrott commented on #199
NVCC is just more relaxed about consistent declarations. Clang requires you to have both the declaration and the implementation be marked identically. This is coming from the fact that clang is using the host device marking as part of function overload resolution. With clang this is valid:

[code]

With NVCC you can't do that and you need to do the following:
[code]

Furthermore there is some funk

[2018-11-09 21:16] PDoakORNL commented on #199
What is the point of the `__host__ __device__` for nvcc? It's required but ignored or not used at all?

[2018-11-09 21:17] crtrott commented on #199
It marks the function as " provide a CPU version and a GPU version"

[2018-11-12 15:48] PDoakORNL commented on #199
Well for clang it does. It seems like for nvcc only __device__  and __host__ __device__ is meaningful on its own except possibly in a .cu.
Anyway this problem is resolved although it seems unlikely to me that all the functions marked KOKKOS_INLINE_FUNCTION need to be compiled for the device.

[2018-11-12 15:48] #199 closed, assigned to nobody

[2018-11-12 15:54] PDoakORNL opened #201 "Clang7/CUDA 9.2 team_v_serial_t and team_v_parallel_t both evaluate to HostThreadTeamMember when"
KOKKOS_ENABLE_CUDA=false
KOKKOS_ENABLE_OPENMP=false

causing
[code]

Not sure we care but it feels messy.

[2019-04-12 19:59] ye-luo opened #211 "Update rhea CI"
We need to update the CI configuration due to Rhea OS upgrade.

[2019-04-15 15:44] grahamlopez commented on #211
addressed via #212

[2019-04-15 15:54] #211 closed, assigned to grahamlopez

[2019-04-18 21:08] ye-luo opened #214 "Merge makeMoveAndCheck and makeMoveOnSphere?"
Some complication may be needed by QMCPACK but I don't see a reason for miniQMC.
I'd like to merge them into makeMove and no checking will be applied.
Any objection?

[2019-04-19 18:12] #214 closed, assigned to ye-luo

[2019-05-03 04:12] lshulen commented on #194
See global_batched_kokkos branch.

[2019-05-03 04:12] #194 closed, assigned to nobody

[2019-05-03 04:13] lshulen commented on #193
Current global_batched_kokkos branch evaluated everything on the device for the spos and then uses those values still on the device in the determinant operations.

[2019-05-03 04:13] #193 closed, assigned to nobody

[2019-05-03 04:14] lshulen commented on #195
Still working on this.  May also explore hand written kernels for gemv and ger.

[2019-05-03 19:26] PDoakORNL opened #220 "[global_batched_kokkos] Kokkos build failure"
Using gcc 6.5.0 on x86

[33/61] Building CXX object kokkos/CMakeFiles/kokkos.dir/core/src/impl/Kokkos_HostSpace.cpp.o
FAILED: /lustre/or-hydra/cades-cnms/epd/dev/kokkos/bin/nvcc_wrapper   -I/lustre/or-hydra/cades-cnms/epd/dev/kokkos/core/src -I/lustre/or-hydra/cades-cnms/epd/dev/kokkos/containers/src -I/lustre/or-hydra/cades-cnms/epd/dev/kokkos/algorithms/src -Ikokkos -I/software/dev_tools/swtree/

[2019-05-03 19:41] lshulen commented on #220
Are you building Kokkos inline?  You should change the KOKKOS_ARCH to HSW in your cmake.

[2019-05-03 19:50] PDoakORNL commented on #220
Yes building inline, lets table the AVX512 intrinsic renaming I still have issue with openmp=true and cuda=false

now I get:
[code]

here's my actual cmake
[code]

[2019-05-03 20:03] ye-luo commented on #220
Could you change the title starting with [branch name]

[2019-05-03 20:18] lshulen commented on #220
Problem looks to be that you are using nvcc_wrapper to build the code with KOKKOS_ENABLE_CUDA=false.  Try building again with gcc directly.

[2019-05-03 21:17] PDoakORNL commented on #220
tried that, get this:
[code]

[2019-05-03 21:25] lshulen commented on #220
Perfect.  I need to update the CMakeLists.txt, The only executable you can build at the moment is miniqmc_sync_move_noref .

[2019-05-09 20:42] ye-luo opened #221 "Rename mover to walker"
I feel it is my fault that calling it mover which is a collection of ParticleSet, Wavefunction and random number generator (also hamiltonian).
I think it should be correctly renamed to 'walker'. Any objection?

[2019-05-09 21:14] lshulen commented on #221
I've got no problem with that.  What would you think about creating something like a population class to hold walkers?

[2019-05-09 21:30] ye-luo commented on #221
We use `std::vector<Walker*> mover_list` now.
Do you have a particular reason to do something like
[code]
Or
[code]
I think this is better.

Or you mean something else?

[2019-05-09 21:49] lshulen commented on #221
I like the second one.  It may also make sense to eventually move some of the generic methods to here rather than having to rely on generic_walker->waveFunction.method(blah....)

[2019-05-09 21:50] lshulen commented on #221
In response to your question, I like having this sort of object because by passing it to a method to work on the population you can defer how it should be iterated over and it seems cleaner conceptually (to me).

[2019-05-09 21:54] PDoakORNL commented on #221
Why not just refactor my crowd class to your liking?  Does it need to be written from scratch again.

[2019-05-09 21:54] PDoakORNL commented on #221
Population is a better name.

[2019-05-09 22:02] lshulen commented on #221
Not opposed to that idea.  It could be a good point of convergence.

[2019-05-12 23:14] ye-luo commented on #221
I'm still digesting the Crowd class. I believe some portion will be moved to the develop.
At the moment, I'm trying not to do drastic changes and settle a bit other changes first.
I did see the miniqmc main routine gets very big and some effort will be needed to separate the main and drivers.

[2019-05-12 23:16] ye-luo opened #223 "Need batched evaluation of NLPP"
Currently evaluating NLPP is implemented very naively in miniQMC.
The batched evaluation of NLPP in QMCPACK is a more clean and general implentation.
It needs to be moved.

[2019-05-12 23:22] ye-luo opened #224 "Add ctest to miniQMC"
I feel the need to add at least 2 sets of testing to miniQMC
1. The semi integration tests using check_XX routines needs to be added.
2. The problem size scan needs to be added as well. This is like the QMCPACK performance test.
We should take advantage of ctest instead of maintaining ctest.

@PDoakORNL asked for unit test. This is desired as well but it needs a bit more porting effort to bring in

[2019-05-12 23:23] ye-luo commented on #224
I found some earlier unit test discussion #152. We need to continue that one as well.

[2019-05-17 16:32] #172 closed, assigned to ye-luo

[2019-05-17 17:46] #96 closed

[2019-05-23 19:41] PDoakORNL opened #231 "Develop should represent concensus and not a particular developers branch. #228 should not have been merged."
These are divergent and I think this PR should be backed out.

[2019-05-23 19:43] ye-luo commented on #231
Could you explain a bit more? I mean be more specific divergent with what. Why it is an issue.

[2019-05-23 19:44] ye-luo commented on #231
There is no change to the code using these containers. I need these containers for plugging CUDA allocators because address allocated on the device only can not be access on the host.

[2019-05-23 19:47] PDoakORNL commented on #231
Nonspecialized Container should contain no branching code on memory location.

[2019-05-23 19:48] lshulen commented on #231
Your suggestion would be to have a specialization to add the memory type rather than put it in the base class?

[2019-05-23 19:49] PDoakORNL commented on #231
I believe a properly written container would only need the allocator parameter changed.
memory space doesn't belong.

[2019-05-23 19:51] lshulen commented on #231
So if you wanted to do something conditional on the memory space you would have to query through to the allocator?  I'm not sure I agree if that's the case.

[2019-05-23 19:52] PDoakORNL commented on #231
template specialization based on allocator type.

[2019-05-23 19:53] lshulen commented on #231
Why is that superior to knowing the memory space directly?

[2019-05-23 19:55] PDoakORNL commented on #231
Basic Separation of Concerns

[2019-05-23 19:56] lshulen commented on #231
Can you explain more?  I don't understand.

[2019-05-23 19:59] ye-luo commented on #231
I did have a dilemma when I wrote the code this way. I need a way to tell the container not to initialize values if the memory is not host accessible.

If I put a state in the allocator, I can not use std::allocator any more.
The other way is through template specialization. However for the CUDA device allocator, basically I need to template every function which writes data to the container. I alm

[2019-05-23 20:02] lshulen commented on #231
I'm generally interested in being able to act differently on an object depending on where the memory lives.  The problem I'm having with this idea is that I can imagine a scenario where I might have a several allocators that would work on a given memory space.  Maybe one requires things to be aligned, one allocates from a pool of memory and one doesn't care.  In that case it seems like I would car

[2019-05-23 20:04] ye-luo commented on #231
I believe C++ standard must have encountered this issue and we probably can learn from them.
The root cause I believe is that the original C++ abstraction machine has only one memory pool. But they may have a new design to accommodate many memory domains.

[2019-05-23 20:05] PDoakORNL commented on #231
your allocator should handle allocation and deallocation of the container in some way. If its not on the host obviously it needs to be not std::allocator. CUDA doesn't do well with this kind of container class so I don't imagine you are going to instantiate it inside a kernel so this isn't really the place to know about memory space at all.

[2019-05-23 20:07] PDoakORNL commented on #231
Luke that is largely what one would use concepts for.
You would check for a concept modeled by the allocator that indicated the "device"

[2019-05-23 20:10] lshulen commented on #231
This is an idiom that I am not completely familiar with.  I clearly have homework to do before I can respond intelligently.  Can you point me to a reference that would introduce me to things like concepts?

[2019-05-23 20:10] ye-luo commented on #231
These containers should not be used in CUDA kernels. I wrapper CUDA memory allocation and deallocation run-time calls in CUDAallocator and then pass it to the container class. I need to prevent the initialization of values on the host. When I use the data objects, I extract pointers and call cuBLAS.

[2019-05-23 20:11] lshulen commented on #231
@ye-luo why would I prefer to have separate containers depending on the device?  I find myself appreciating the Kokkos View sort of model where have only one kind of container, but it can be specialized depending on what I want to do with it.

[2019-05-23 20:20] ye-luo commented on #231
@lshulen I believe it is how much safety you want and how much control developer you need by hand. My kokkos knowledge is limited. I think by default, it assumes UVM or host. If you specialize memory traits as a template argument, it becomes more specific. I think this is a bit more advance than what I did (Using default memory space on host, and do nothing if the memory is not host accessible).

[2019-05-23 20:21] PDoakORNL commented on #231
[code]
more or less

[2019-05-23 20:38] ye-luo commented on #231
@PDoakORNL I understand this is the general way to make the container classes to work. The downside is that for an allocator which gives memory that is not host accessible, you will need to specialize every function that access the memory. It is more than what I need at the moment.

My design logic is not to support all cases but only two. Host accessible and host non-accessible.
[code]
With host

[2019-05-23 20:46] mdewing commented on #231
Would it better to name the parameter for host/non-host accessible more directly?   Calling it HOST and CUDA is indirect, and leads to people making more assumptions about what these parameters should mean for the class.

[2019-05-23 20:59] lshulen commented on #231
I think what one is really after is the intended execution space (that is where this memory can be accessed rather than where it lives or what class allocated it).  UVM is actually a bit of an annoying edge case if you are specializing depending on the allocator.  If this is correct, then being more specific than just HOST or DEVICE (for instance saying host, Cuda, hip etc.) could be useful.

[2019-05-23 21:00] PDoakORNL commented on #231
I don't get why that is a useful design feature at all. If you can't use the class on the device and on the host it doesn't access device memory... What problem is this solving?  Also why not just do this
[code]
Avoiding writing standard assert over and over and making it clear unless you used std::allocator this class is a Vector with a much limited interface

[2019-05-23 21:12] lshulen commented on #231
Looking at it that way, I agree.  If you cannot do anything with the class anywhere but on the host than just make sure somehow this squawks when you try to do anything with it on a device.  As we think more generally about how to converge the mini app, I'd like to think about a more general container that we could use generically between programming models etc.  It was in this vein that my earlie

[2019-05-23 22:09] PDoakORNL commented on #223
Already done for CUDA certainly don't want to see that work redone as well.

[2019-05-23 22:12] PDoakORNL commented on #221
When I have some spare cycles I have a useful idea to generate the generic wrappers of the single evals in the class template declaration for Crowd as well as the default method definitions. These can be specialized when useful.

[2019-05-23 22:50] ye-luo commented on #223
In QMCPACK, batching is not just using particle positions and it needs to work through the call stacks. Some batched NLPP operations also need distance tables. The algorithm can be used different between LCAO and splines. Once I PR, I will show you why that it needs to be done that way.

[2019-05-23 23:33] ye-luo commented on #231
I agree that there is a need of a flexible container.
I need a container for the following case.
1. std::allocator, from standard library, host safe
2. Mallocator, for aligned allocation, host safe
3. OMPallocator, for host and device allocation with OpenMP mapping, host safe
4. CUDAHostAllocator, for pinned host memory, host safe
5. CUDAManagedAllocator, for CUDA manged memory, host safe
6. CUDAA

[2019-05-24 03:06] ye-luo commented on #223
I wrote down [How-does-QMCPACK-evaluate-pseudopotentials](https://github.com/ye-luo/qmcpack/wiki/How-does-QMCPACK-evaluate-pseudopotentials).
miniQMC is basically mimicking the code path without VritualParticleSet. I was thinking of porting the VritualParticleSet to miniQMC.
@PDoakORNL what you did `Crowd<Devices::CUDA>::calcNLPP` is very similar to QMCPACK CUDA code. There are a few drawback in t

[2019-05-24 13:36] PDoakORNL commented on #223
Effiecient batching is device implementation dependent. A particular Crowd<Device>::evalNLPP(...) should based on the call using a sensible algorithm for that device. Since devices evolve quickly this code should be specialized and not try to be general to "all" devices. NonLocalECPComponent::evaluate should be the "reference" implementation for one NonLocalECPComponenet.  Crowd<CPU>::evalNLPP sho

[2019-05-24 13:39] ye-luo commented on #231
@PDoakORNL your last example needs 5 specialization for A and 1 default for B or it needs 1 default for A and 3 specialization for B. Is it possible to just do two specialization A and B?
On the other hand, I noticed that there is some evolution relations static_assert -> SFINAE -> Constraints and concepts. No matter which one is in use, some sort of if statement is needed for each function remove

[2019-05-24 13:45] PDoakORNL commented on #223
I'd also add that right now due to some troubles I initially had with pinned memory that there is extra allocation and copying on the CPU side. It's extremely fast compared to the allocation and copying with the GPU so it doesn't matter performancewise. I haven't gone back and cleaned this up, and don't intend to until I have an allocator that can hand v,grad,etc. to singleSPO's from the Crowd (or

[2019-05-24 13:58] ye-luo commented on #223
We need the miniQMC to capture the formulas that QMCPACK does and then improve it.

I saw you were packing walkers, electron-ion pairs, and QP points in a buffer. I mean this batching over walkers. You did later dispatch the whole batch by chunks which is just an implementation detail.
https://github.com/QMCPACK/miniqmc/blob/1a3493eea0b169c443b32e3ec64f02689db7cf6a/src/Drivers/CrowdCUDA.cpp#L45

T

[2019-05-24 14:01] PDoakORNL commented on #223
As far as "I noticed that having SPO evaluation directly in the driver misguide you to separate batching SPO evaluation from wavefunction. To represent QMCPACK, I will move it into deterimant evaluation once I drop the delayed update to miniQMC." How about instead you draw a diagram showing different blocks of data and the 'functions' applied to them.
As far as I can see determinants need know not

[2019-05-24 14:19] ye-luo commented on #223
See [formula](https://web.ornl.gov/~kentpr/thesis/pkthnode26.html)
(4.2) assuming n=1 there is only 1 up and 1 down spin determinant.
(4.3) a determinant is constructed by SPOSet the result v of all the particles.
In QMCPACK,
[code]
So most functions in DiractDeterminant depends on the results of SPOSet which depends on ParticleSet. Delayed update is a bit more involving but the dependency is the

[2019-05-24 14:23] PDoakORNL commented on #231
It's possible to do just two specializations. You need to implement a "concept/constraint" that can indicates to the compiler the correct specialization, there are many ways to do that ranging from simple to very complex general and extensible. In this specific case I think you might need three specialization for B but you only have one right now so just go that way.

But I'd admit I don't underst

[2019-05-24 14:36] ye-luo commented on #231
"concept/constraint" is in C++20 and I'd better avoid it. I may use SFINAE but I found it is not significantly better than static_assert and the compiler error message is often less clear than static_assert. Between 1+1(3 in the future) specialization and 1 with some if-statement and static_assert, I still feel the latter option is better because I have 3 kinds of containers already.

I need a con

[2019-05-24 14:46] PDoakORNL commented on #223
For flexibility in the crowd controlling how computation is done. This assume synchronization above this stack frame so V and G are valid when used.
[code]

[2019-05-24 14:49] PDoakORNL commented on #223
The arguments from the SPO evaluation could also be a "future" that would block if SPO evaluation was not yet complete.

[2019-05-24 14:57] PDoakORNL commented on #231
by "concept/constraint" I mean the CS idea not C++20 implementation of it.  You can and people have used these ideas for a long time.  I pretty much never want to see an if statement for something that could be handled at compile time and produce a function body with no branching. I never want to see an interface with dead functions.
A container class models some set of access concepts if it does

[2019-05-24 15:03] ye-luo commented on #231
What is something? I found using a container class is the most straight forward way to achieve RAII and resize. I tried not to maintain a separate set of customized classes.

[2019-05-24 15:04] PDoakORNL commented on #231
By having a specialized class template without the access functions the template classes of 6,7,8 logically doesn't include the dead access functions. I can read this declaration and reason about it. This is logically cleaner than having definitions that have a static assert if you touch them.
But still seems needless.  You just need an RAII wrapper around an allocator. This would be a type distin

[2019-05-24 15:06] PDoakORNL commented on #231
I'd rather maintain a class that does what its interface advertises and what its name implies.

[2019-05-24 15:11] ye-luo commented on #231
When the C++ gets "concept/constraint", will I be able to write one version without doing any specialization?

[2019-05-24 15:27] ye-luo commented on #223
ratioGrad is a common interface for single determinant, multi deteriminant, jastrow factors because mathematically, ratios can be multiplied together and grads can be added together.
The way you are doing requires different ratioGrad argument for each component because they need different data to compute ratioGrad.

[2019-05-24 17:54] prckent commented on #231
To make this easier for others to follow, I suggest phoning each other and then posting a summary here of either the questions a wider group should address or the consensus you have reached.

[2019-06-04 00:23] ye-luo opened #239 "Port delayed update algorithms"
1. both CPU and CUDA implementation will be ported.
2. unit tests are ported.

[2019-06-04 00:32] ye-luo opened #240 "Need CUDA infastructure"
Needed by #239.
The CUDA infrastructure will be need.
One way of doing this is copying everything from QMCPACK.
However, I noticed one_code branch has some CUDA infrastructure as well. @PDoakORNL could you comment what we can learn from one_code? Do you want to bring your CUDA setting over to miniQMC develop?

I tried one_code branch and noticed that it seems support Clang CUDA. I think it is a us

[2019-06-04 13:56] prckent opened #241 "Goals for next version of miniapp"
Assuming we have learned all we need for the Exascale project from the current version of the miniapp, we need to ask whether we need to make a new version and what the goals should be before making changes that might need to be unwound or simply be effort that does not help ECP.

Requirements, suggestions can be put below. We'll have a discussion on the ECP project but this will be several weeks

[2019-06-04 14:10] ye-luo commented on #241
We wrote some goals initially, https://github.com/QMCPACK/miniqmc/blob/develop/goals.md#general-principles.
I think miniQMC is never a separated project and it serves QMCPACK. If something is taken from QMCPACK, it needs to be studied by miniQMC. If some changes are agreed to be merged on miniQMC, it is meant to be propagate back to QMCPACK.
It is much convenient to test new hardware and software

[2019-06-04 14:14] prckent commented on #241
The question is not about the existence of the miniapp but what our goals for a v2 might be. Since QMCPACK mainline is going to be rearchitected, perhaps that needs to happen first. Or perhaps we need to try something (still) in the miniapp first. i.e. The assumption I wrote about might not be correct. The aim of this issue is to capture some requests. What we shouldn't do is keep updating the min

[2019-06-04 17:35] lshulen commented on #241
Something that I would be interested in exploring is the role / scope of refactoring in the miniapp.   A lot of the challenges we face concern what happens when our experiments have diverged greatly from the initial mini app.  One the one hand, I think this is a great strength of the miniapp idea that we can do these large experiments, but as we see, there has been much consternation figuring out

[2019-06-06 13:19] PDoakORNL commented on #241
Refactoring implies that you are finding an optimal design through continued development and generalization of code based on the emergent requirements of the code base. If new specializations and design ideas are blocked from ever entering the code then refactoring is a pretty empty exercise, you're just doing incremental rewrites. If you never bother to look for generalizations until the entirety

[2019-06-06 14:17] ye-luo commented on #241
1. miniQMC is designed to serve QMCPACK. miniQMC needs to reflect QMCPACK algorithms and implementations. v2 is missing #239 and #223 algorithms.
2. New ideas needs to be exercised on separate branches. After sufficient discussion, demonstration and validation, good architectural change may get in miniQMC ahead of QMCPACK. Solid benefit and viability needs to be proven including a smooth transitio

[2019-06-07 19:46] #231 closed, assigned to nobody

[2019-06-12 21:01] ye-luo opened #245 "How to handle asynchronous computation"
My rough ideas for incorporating asynchronous computation but hide the detail at the lowest possible level. Since we have limited confidence in applying a tasking programming model to the whole code, the follow code may achieve hopefully sufficient asynchronous behaviour and performance.

When we compute the trial wavefunction, the call sequence is
TrialWF->ratioGrad()
{
  TrialWF->WFC[0]->ratioGr

[2019-06-13 15:47] PDoakORNL commented on #245
The QMCPACK CUDA code is dead.  My CUDA code does not depend on a single stream for synchronization. It does depend on being able to construct transfers (most important) and evaluations (not very important) from more than one trialWF worth of data.

Synchronization pattern is going to depend on architecture and whether you have bothered to have a device specialization for a particular operation an

[2019-06-13 15:49] PDoakORNL commented on #245
you actually don't need the driver<Sync> specialization if you make likeSTDAsync default to a blocking synchronous evaluation.

[2019-06-14 04:28] ye-luo commented on #187
check_determinant has been removed in #242

[2019-06-14 04:28] #187 closed, assigned to nobody

[2019-06-14 22:05] PDoakORNL commented on #241
Goals are statements like the following:

We would like to use miniqmc to come to agreement on how to do the following in QMCPACK:
a. Develop on a Single Source (rather than in execution or repo branches controlled and used by one developer)
b. Fall back to CPU single walker evaluation easily.
c. Support specialization for different algorithms and devices.
d. Improve QMCPACK's design to simplify,

[2019-06-17 15:36] lshulen commented on #245
If we pursue either of these, we need to be very careful of the trade-offs associated with moving to this model of programming.  New programmers coming to the code are likely to have to learn to reason about these constructs for the first time.  Also, we will have to be incredibly sure that our unit tests / integration tests are robust to catching the sort of race conditions that may not occur for

[2019-06-17 15:48] prckent commented on #245
@lshulen Good point. Totally agree. MiniQMC may be a good place to play, but for QMCPACK step 1 should involve the absolute minimum complexity and therefore minimum asynchronicity, possibly none. Only when that is working and we see a clear and significant benefit to a more complex and capable implementation should we move forward.

[2019-07-31 01:05] #223 closed, assigned to nobody

[2020-01-17 11:06] ye-luo commented on #239
CPU is done. CUDA is not.

[2020-03-17 20:50] TApplencourt opened #253 "Extracting StandAlone kernel"
Hi,

I open this issue to discuss the possibility of extracting key miniQMC kernels into standalone files.

Indeed having some standalone kernels will help the collaboration between QMCPACK and other ECP projects/vendors.
Those kernels will be easy to install, to benchmark, and port to the different programming models. This will greatly facilitate the early exploration and validation of new hardwa

[2020-03-17 21:03] mdewing commented on #253
A little bit of work here
https://github.com/markdewing/qmc_kernels

The only kernels present are vector add (not really qmc-specific, but the simplest kernel) and 3D spline.

Possible additional kernels
- distance calculation (various boundary conditions?)
- inverse update (and delayed update version)
- computation converting raw 3D splines to SPO's ?
- 1D spline for Jastrow ?

[2020-03-17 21:07] prckent commented on #253
The plan is to make an official maintained QMCPACK repository with splines and updates at first. The idea is that they are clean, zero baggage, well documented and accessible for performance analysis, total refactoring, accessible by non-experts etc. We have much of the code, but which versions should @TApplencourt use to start from? I think reference cpu, cuda, gpu offload etc. would all be of in

[2020-03-18 14:45] TApplencourt commented on #253
I can start with the spline of @markdewing if you (aka QMCPACK community) want.

If I  understand correctly  this code  handle {double,single} / {real, complex} data type and many more type of [spline](https://github.com/markdewing/qmc_kernels/blob/a5fc177197779964b29d7e0c240b67187475c80c/kernels/spline/base_cpp/bspline_base.h#L42).

My recommendation is to start with the bare minimum functionalit

[2020-03-18 18:28] prckent commented on #253
Please take a careful look at the one in this repo (here, https://github.com/QMCPACK/miniqmc ). I am not sure which branch is best though - someone else will need to chime in. miniqmc knows how to setup various sizes of problems corresponding to NiO. i.e. It is realistic.

[2020-03-18 18:30] prckent commented on #253
I would start with only single precision real. This is the "legacy CUDA" default in mainline and the one used in benchmarks.

[2020-03-18 21:14] TApplencourt commented on #253
@markdewing does your implementation differs from miniqmc one? I would prefer to start from our has it look simpler.  But if they are different in can trim down the miniqmc too.

In all case, I will use miniqmc to generate realistic problem size.

[2020-03-18 22:15] mdewing commented on #253
I started from the miniqmc version.

For correctness checking, the driver prints a couple of values from the reference implementation and a couple of values from the non-reference version and the user has to compare them manually.  This needs to be done better.

The nx,ny,nz and nspline parameters for a few NiO problem sizes are:

  a32-e384 is 112x66x66 with 144 splines
  a64-e768 is 112x66x66 wi

[2020-03-18 22:18] PDoakORNL commented on #253
It would be quite easy to take these
https://github.com/PDoakORNL/miniqmc/tree/one_code/src/Numerics/Spline2/test
And make a standalone repo with "my" spline kernel.  Should I do that?

[2020-03-19 13:33] prckent commented on #253
It looks like Peter's code has CPU, CUDA and Kokkos already. Peter - are/were these all working? It might well be better for Thomas to start with these since they look like a more comprehensive starting point.

[2020-03-19 13:34] prckent commented on #253
@markdewing Those spline counts look very strange to me, but perhaps I misunderstand? a32-e384 = 32 atoms and 384 electrons, so 192 electrons per spin = 192 splines. The others should be multiples of this number.

Thomas: The grid size corresponds to the primitive cell, i.e. we assume we are doing tiling for the larger cells and running bulks, as we do for the ECP and CORAL benchmarks .

[2020-03-19 13:45] PDoakORNL commented on #253
Yes but probably I should merge to the main repo again.  The onecode in my current branch is the current state.  The Kokkos had been dropped at that point so I don’t believe it works anymore.  I started to look at extracting just the batched/blocked spline eval yesterday, I think it could be made fairly compact especially if some of the variants are deleted/templated.

[2020-03-19 14:34] mdewing commented on #253
@prckent  I took the numbers from QMCPACK.   My understanding is that the splines are complex, and depending on the k-point, some of the values are converted to two orbitals, and some are not (in `assign_v`).  Is this correct?
Maybe this is not necessary for a kernel - using real with number of splines equal to the number of SPO's is sufficient.

[2020-03-19 14:55] prckent commented on #253
Yes, that explains the difference.

e.g. For the a32-e384 performance test we can see this on the line "NumDistinctOrbitals 144 numOrbs = 192"
https://cdash.qmcpack.org/CDash/testDetails.php?test=7697041&build=108519

[2020-06-05 19:56] TApplencourt commented on #253
It took longer than expected[*], but with Kevin, we did some progress on extracting the inner `vgh-float` kernel. It's really preliminary, but you can find it here: https://github.com/TApplencourt/nanoQMC.

May I ask people of this thread for review?  I'm not sure If we initialize the input correctly.

Do you know about some sanity check I can run on the output to verify we don't do any stupid? (t

[2020-12-07 11:26] davedavemckay opened #260 "Using miniqmc for 128 core MPI test gives output 128 times - expected behaviour?"
I'm testing miniqmc on a 1-node (128-core; 128-task) job. The job runs but gives the same output 128 times. Am I somehow missing a flag for MPI and running a serial calculation 128 times?
[code]
Build: CrayLinuxEnvironment with GNU C++ compiler wrapper with CrayPat-lite performance tools.
Input: (mpi wrapper -n 128) miniqmc -g "2 2 2" > miniQMC_222.log 2> miniQMC.err
Thanks

[2020-12-07 14:32] #260 closed, assigned to nobody

[2020-12-07 14:33] davedavemckay commented on #260
My bad. Missed QMC_MPI=1 at build.

[2020-12-07 14:36] ye-luo commented on #260
It is good that you figured it out. miniQMC are more restrictive on dependencies so MPI is off by default. Please also keep in mind that MPI like OpenMP is used in weak scaling fashion namely the total workload proportionally increases as MPI ranks and threads.

[2020-12-07 14:39] davedavemckay commented on #260
Good to know - Thank you Ye-luo.

[2021-02-19 22:46] joncooknmsu opened #264 "Building without OpenMP fails on test_ParallelBlock.cpp"
With "cmake -DQMC_OMP=0 .." then "make" I get:

[ 51%] Linking CXX executable ../../../tests/bin/test_utilities
CMakeFiles/test_utilities.dir/test_ParallelBlock.cpp.o: In function `qmcplusplus::____C_A_T_C_H____T_E_S_T____0()':
test_ParallelBlock.cpp:(.text+0x260): undefined reference to `omp_set_num_threads'
collect2: error: ld returned 1 exit status

I poked around and tried "cmake -DQMC_OMP=0 -

[2021-02-19 23:14] ye-luo commented on #264
We are not maintaining QMC_OMP=0 case right now, because QMCPACK users always enable OpenMP and miniQMC carries this behavior. Could you keep the default or set QMC_OMP=1? Or let me know if you have to disable OpenMP.

[2021-02-24 21:39] joncooknmsu commented on #264
Yeah, we'll try to work around it. I expected that answer and so am not surprised. Feel free to close this issue if you want.

[2021-02-24 21:41] ye-luo commented on #264
If you manage to fix it, PR is welcome.

[2021-02-24 21:41] #264 closed, assigned to nobody

[2021-05-17 21:01] cabreraam opened #265 "Known working combinations of gcc/cuda or llvm/cuda"
Hi all,

The config directory in the omp_offload branch has different CMake incantations for different systems. In a similar vein, I'm trying to build versions of gcc/llvm/cuda using spack that would allow me to build the omp_offload branch. Could anyone list combinations of gcc/llvm/cuda that work for them? I'm trying to target an Intel skylake Xeon and a P100 with CUDA version 11.2 reported by n

[2021-05-17 21:12] ye-luo commented on #265
Most up-to-date recipes for OMP_offload branch is at https://github.com/QMCPACK/miniqmc/wiki/OpenMP-offload

GCC even the release 11 can only build some pieces of miniQMC with OpenMP offload turned on.
LLVM 11 or 12 are recommended.
In general, it is not picky on CUDA versions but you do need a host compiler working with the provided CUDA.
For example, LLVM 11 is released before CUDA 11.1 and it d

[2021-05-18 15:53] cabreraam commented on #265
This is very helpful, thank you! I have looked through the wiki documentation before, but my apologies for not noticing the whole page on the OpenMP offload branch.

I'm building gcc 9.2.0 right now. I had 9.3.0 installed, and everything built except for `test_omptarget_icpx_opencl_wrong_number.cpp`
I received the following error:
[code]

I'll report back with builds for LLVM 12 and maybe 11, and

[2021-05-18 16:13] cabreraam commented on #265
9.2.0 also fails with that test, unfortunately. I removed the test from [here](https://github.com/QMCPACK/miniqmc/blob/OMP_offload/src/Platforms/tests/OMPTarget/CMakeLists.txt) so that I could run `miniqmc`.  When I run `miniqmc` with `nvprof` though, I don't see any evidence of a d2h transfer. I set OMP_NUM_THREADS=1, and observe the following `nvprof` output:

[code]
Should there be some kind of

[2021-05-18 17:51] ye-luo commented on #265
My previous comment about GCC was incorrect. As reflected in my tracking table. GCC 11.1.0 works fine.
[code]

[2021-05-18 17:51] ye-luo commented on #265
@cabreraam did you following the exact recipe. It seems missing `-D ENABLE_OFFLOAD=1`

[2021-05-18 19:28] cabreraam commented on #265
@ye-luo Thanks for the reply. I have set that flag. I'm thinking I wouldn't get any nvprof output if I hadn't set it.

[2021-05-18 19:34] ye-luo commented on #265
Not 100% sure but libgomp may still initialize the GPU as long as offload feature is enabled.

[2021-05-18 19:39] cabreraam commented on #265
This is the command I'm using:
[code]

[2021-05-18 19:48] ye-luo commented on #265
Check your GCC to see if it is built properly to compile any OpenMP offload program.
Try https://github.com/ye-luo/openmp-target/blob/master/tests/private/target_teams_distribute_parallel_for_private.cpp
[code]
and see if you get any kernel activity

[2021-05-18 20:26] cabreraam commented on #265
Seems promising!
[code]

[2021-05-18 20:30] cabreraam commented on #265
Here's the output with GCC 9.3.0:

[code]

[2021-05-18 21:01] ye-luo commented on #265
Paste `ldd ./bin/miniqmc` here and see if `libgomp` is from your gcc, OS or maybe llvm.

[2021-05-18 21:13] cabreraam commented on #265
[code]

[2021-05-18 21:23] ye-luo commented on #265
I ran out of ideas. You are probably more familiar with your settings than I am.
1. If gcc has some options to let the runtime printout stuff, there is a chance to found out why.
2. Check if ​​​​​​​CXX_COMP is pointing to the desired one.
3. Does spack built gcc/9.2.0 actually has offload activated.
4. Try the lastest OMP_offload branch.

[2021-05-19 03:30] ye-luo commented on #265
I spack installed gcc@9.3.0 +cuda and it fails to build the miniqmc executable. In my recollection, gcc 9/10 cannot build the main executables (check_spo_batched/miniqmc) of miniQMC when offload is enabled and 11 is the first working version. So something is not right on your side.

[2021-05-19 13:24] prckent commented on #265
I think for anything offload related it doesn't make sense to use anything but either the latest release or the development version of a particular compiler. There have been a huge number of fixes and improvements. More are still needed, so tracking new versions is an ongoing task.

[2021-05-19 15:06] cabreraam commented on #265
Yes, you are right. I didn't have the most recent version of the `OMP_offload` branch, and GCC9 did not build on my end either, unfortunately.

@prckent This is helpful! Based on that, should I only be trying GCC 11 and LLVM 12?

All, I will be hammering away at this more today, and I'll be sure to update this thread.

[2021-05-19 18:04] cabreraam commented on #265
Okay, I'm trying to build with LLVM 12 now with the most recent version of the `OMP_offload` branch.
Here is the output of concretizing my current spack environment:
[code]
I'm using this script to build my the project:
[code]
The project actually builds successfully, but I get a few warnings that look like this:
[code]

However, this is the error I'm running into now:
[code]

At first glance, I'm

[2021-05-19 18:10] ye-luo commented on #265
@cabreraam your cmake recipe when using llvm is incorrect, read my wikipage.

[2021-05-19 18:22] cabreraam commented on #265
@ye-luo I just added the flag, `-D USE_OBJECT_TARGET=ON ..` to my CMake recipe. I still got those same vectorization warnings from LLVM, BUT the project built and I was able to observe *something* happening!

[code]

I think this means things are working?

[2021-05-19 18:51] ye-luo commented on #265
Correct. It looks good now.

[2021-05-19 18:53] cabreraam commented on #265
@ye-luo Excellent! I will go ahead and close this issue then. Thanks for your help! You can at least claim that LLVM 12 has been verified by one more person now.

[2021-05-19 18:53] #265 closed, assigned to nobody

[2021-06-02 21:58] cabreraam opened #266 "Explanation of OMP Code in `einspline_spo_omp.cpp`"
Admittedly, I am new to OpenMP GPU offload (and I am even further from understanding the mathematical methods used to calculate the total energy of the system).

When looking at the output of `nvsys` and `nvprof` when running `miniqmc`,  I see that most of the offloaded GPU functionality is contained in einspline_spo_omp.cpp. My first question is, in the `set` function starting on line 88, the off

[2021-06-08 22:06] cabreraam commented on #266
A colleague, @jdenny-ornl, was able to help me track down what I was interested in.

`einsplines` is a member variable of `einspline_spo_omp`, which is declared with `OMPallocator`--defined in `OMPallocator.hpp`--defines allocate and deallocate functions that `omp target enter data map` and `omp target exit data map` an allocated region, which in this case is `einsplines`. So, `einsplines` is not

[2021-06-08 22:06] #266 closed, assigned to nobody